<% layout('layout') -%>

<div class="span2 sideMenu">
<ul class="legend">
  <li class="btn-success"><h4>Lecture</h4></li>
  <li class="btn-primary"><h4>Tutorial</h4></li>
  <li class="btn-warning"><h4>Lab Session</h4></li>
  <li class="btn-danger"><h4>Other</h4></li>
</ul>
</div>

<div class="container body">
<select>
	<option value="1">Semester 1</option>
	<option value="2">Semester 2</option>
</select>
<div class="timetable" data-days="5" data-hours="11">
            <ul class="tt-events">
                <%- timetable %>
            </ul>
            <div class="tt-times">
             <div class="tt-time" data-time="0">
                    08<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="1">
                    09<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="2">
                    10<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="3">
                    11<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="4">
                    12<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="5">
                    13<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="6">
                    14<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="7">
                    15<span class="hidden-phone">.00</span></div>
                <div class="tt-time" data-time="8">
                    16<span class="hidden-phone">.00</span></div>
                     <div class="tt-time" data-time="9">
                    17<span class="hidden-phone">.00</span></div>
                     <div class="tt-time" data-time="10">
                    18<span class="hidden-phone">.00</span></div>
            </div>
            <div class="tt-days">
                <div class="tt-day" data-day="0">
                    M<span class="hidden-phone">on</span></div>
                <div class="tt-day" data-day="1">
                    T<span class="hidden-phone">ue</span></div>
                <div class="tt-day" data-day="2">
                    W<span class="hidden-phone">ed</span></div>
                <div class="tt-day" data-day="3">
                    T<span class="hidden-phone">hu</span></div>
                <div class="tt-day" data-day="4">
                    F<span class="hidden-phone">ri</span></div>
            </div>
        </div>
        </div>


        <div class="modal fade" id="myModal" style="display:none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <h4>Description</h4>
          <p id="desc"></p>
          <h4>Location</h4>
          <p id="location"></p>
          <h4>Start</h4>
          <p id="start"></p>
          <h4>End</h4>
          <p id="end"></p>
          <h4>Type</h4>
          <p id="type"></p>
          <h4>Code</h4>
          <p id="code"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">New Note</button>
          <button type="button" class="btn btn-primary">Take</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->